@use  "../abstracts/" as *;


.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.showcut-wrap {
    display: flex;
    gap: 1rem;
    & li{
            width: 3.5rem;
            height: 3.5rem;
            background-color: $grayf8;
            border-radius: 100%;
            position: relative;
            &>a{
                @include position(a, left, 50%, top, 50%);
            }
        }
    }
.my-active_list {
    display: flex;
    gap: 1rem;
    .btn{
        border-radius: 2rem;
    }
}


/*------------------------------- Recently viewed -----------------------------------*/



/*------------------------------- my-orders -----------------------------------*/

.my-order-list {
    display: inline-flex;
    gap: rem(13);
    margin: rem(20) 0 rem(20) rem(20);
    overflow-x: auto;
    overflow-y: hidden;
}

/*------------------------------- Stories(product-vertical) -----------------------------------*/


.Stories{
    
    &>li{
        position: relative;
        &::before{
            @include after(30, 30, 100%, 0, left 50%, top 50%, 1, $grayd9);
            // content: "";
            // width: rem(30);
            // height: rem(30);
            // border-radius: 100%;
            // margin: 0;
            // background: $grayd9;
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
            // opacity: 50%;
            // z-index: 1;
        }
        &::after{
           // @include after(30, 30, 100%, 0, left 50%, top 50%, 1, $grayd9);
            content: "";
            width: rem(30);
            height: rem(30);
            border-radius: 100%;
            margin: 0;
            background: url("../../imgs/Stories/ico_mov_play.svg") no-repeat left 5px top 5px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 50%;
            z-index: 2;
        }
    }
}






